<!-- templates/lists/publisher_list.html -->
{% extends 'library_app/base.html' %}
{% block content %}
<h1>Lista Wydawców</h1>
<a href="{% url 'publisher-create' %}" class="btn btn-primary mb-3">Dodaj nowego wydawcę</a>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nazwa</th>
      <th scope="col">Akcje</th>
    </tr>
  </thead>
  <tbody>
    {% for publisher in publishers %}
      <tr>
        <td>{{ publisher.name }}</td>
        <td>
          <a href="{% url 'publisher-update' publisher.pk %}" class="btn btn-warning btn-sm">Edytuj</a>
          <a href="{% url 'publisher-delete' publisher.pk %}" class="btn btn-danger btn-sm">Usuń</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="2" class="text-center">Brak wydawców do wyświetlenia.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
