<!-- templates/lists/subscription_list.html -->
{% extends 'library_app/base.html' %}
{% block content %}
    <h1>Lista Subskrypcji</h1>
    <a href="{% url 'subscription-create' %}" class="btn btn-primary mb-3">Dodaj Subskrypcję</a>

    <table id="subscriptionTable" class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID Subskrypcji</th>
            <th scope="col">Użytkownik</th>
            <th scope="col">Typ Subskrypcji</th>
            <th scope="col">Data Wygaśnięcia</th>
            <th scope="col">Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
            <tr>
                <td>{{ subscription.subscription_id }}</td>
                <td>{{ subscription.user.username }}</td>
                <td>{{ subscription.subscription_type }}</td>
                <td>{{ subscription.expiration_date|date:"d-m-Y" }}</td>
                <td>
                    <a href="{% url 'subscription-update' subscription.pk %}" class="btn btn-warning btn-sm">Edytuj</a>
                    <a href="{% url 'subscription-delete' subscription.pk %}" class="btn btn-danger btn-sm">Usuń</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5" class="text-center">Brak subskrypcji do wyświetlenia.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#subscriptionTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/pl.json"
                }
            });
        });
    </script>
{% endblock %}
